@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Questrial", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

nav ol {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  clear: both;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding-right: .75em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.nav {
  display: none;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  float: right;
  margin: 1.3rem;
  cursor: pointer;
  width: 40px;
  display: inline-block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav a:hover {
  background-color: #404144;
  color: #b9b5b5;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

header {
  background-color: #b9b5b5;
  margin: 0;
  overflow: hidden;
}

header h1 {
  margin: 0;
}

.logo {
  float: left;
  max-height: 1em;
  margin: 1.3rem;
}

.banner {
  display: block;
  background-color: black;
}

.content {
  margin: auto;
  position:absolute;
  display: block;
  padding-top: 35rem;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-45%, -60%);
  transform: translate(-45%, -66%);
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: .5rem;
  border-radius: 7px;
  color: black;
  border-width: 2px;
}

.banner h2 p {
  text-align: center;
}

.link-card {
  background-color: black;
  position: relative;
  overflow: hidden;
}

div {
  text-align: center;
  padding: .5rem;
}

.link-card .img-flex {
  overflow: hidden;
  background-color: black;
  position: relative;
  max-width: 33rem;
}

.link-card:hover img {
  opacity: .7;
}

.food-icon {
  display:block;
  max-width: 16em;
  margin: auto;
  padding-bottom: 1rem;
}

article h2 {
  color: black;
}

section p {
  padding-left: .5rem;
  text-align: left;
}

section h2 {
  padding-left: 1rem;
  padding-top: 12rem;
  text-align: center;
  text-decoration-color: black;
}

section {
  color: black;
  background-color: white;
}

#chef {
  overflow: hidden;
}

.chef-icon {
  display: block;
  margin: auto;
  max-width: 12em;
}

section p {
  margin: 0;
  text-align: center;
}

section h2 {
  margin: 0;
  text-align: center;
  padding-top: 4rem;
}

div h3, p {
  text-align: center;
}

.footer-links {
  list-style-type: none;
  clear: both;
  background-color: #555;
  padding: 4px;
  text-align: center;
  margin-top: 2em;
  padding: 1rem;
  text-decoration: none;
}

.footer-links a:hover {
  background-color: #404144;
  color: #b9b5b5;
}

footer {
  margin-top: 2em;
  padding: 1rem;
  clear: both;
  background-color: #555;
}

footer ul {
  margin-bottom: 1em;
}

footer a {
  padding: 4px;
  text-align: center;
  background-color: #555;
  list-style-type: none;
}

small {
  color:#f2f2f2;
  text-align: center;
  background-color: #555;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  section h2 {
    padding-top: 4rem;
    margin: 0;
  }

  .banner h2 {
    font-size: 200%;
  }

  section p {
    margin: 2rem;
  }

  .link-card:nth-child(1n) {
    width: 50%;
    float: left;
    display: block;
  }

  .link-card:nth-child(2n) {
    width: 50%;
    float: left;
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  article .content {
    font-size: .75rem;
  }

  .link-card:nth-child(1n) {
    width: 25%;
    float: left;
    display: block;
  }

  .link-card:nth-child(2n) {
    width: 25%;
    float: left;
    display: block;
  }

  .nav {
    display: block;
    background-color: #555;
    text-align: center;
  }

  .nav-label {
    display: none;
  }

  .nav a {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #555;
  }

  .nav li {
    display: inline-block;
  }

  .nav a {
    background-color: #555;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav a:hover {
    background-color: black;
    color: white;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.7;
  }

}
